@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
body{font-family: 'Noto Sans KR', sans-serif; height: 100%; background-color: #111;}
body::-webkit-scrollbar{
    display: none;
    }
.en{font-family: 'Cormorant Garamond', serif;}
.wrap{width: 100%; height: 100%;}
.fuck{color: #fff; font-size: 100px; position: fixed; z-index: 500; font-size: 50px;}
.scrollDown{color: #fff; font-size: 35px; position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%);}

/* header */
header{width: 100%; height: 50px; margin-top: 90px; position: fixed; z-index: 999;}
header .innerHeader{width: 1470px; height: 50px; overflow: hidden; margin-right: 160px; display: flex; justify-content: flex-end; float: right;}
header .innerHeader .home{width: 5%; margin-right: 20px;}
header .innerHeader .home a{display: block; width: 100%; height: 100%;}
header .innerHeader .home a p{color: #fff; font-size: 25px; font-weight: 300; letter-spacing: 5px; margin-top: 11px;}
header .innerHeader .menu{width: 7%;}
header .innerHeader .menu a{display: block; width: 100%; height: 100%; padding-bottom: 10px;}
header .innerHeader .menu a .line_1{width: 50px; height: 1px; background-color: #fff; display: block;margin-top: 20px; margin-left: 10px;}
header .innerHeader .menu a .line_2{width: 50px; height: 1px; background-color: #fff; display: block; margin-top: 10px; margin-left: 10px;}
/* hover */
header .innerHeader .menu a:hover .line_1{width: 0%; transition: all 0.3s; /* margin-top: -50px; */ opacity: 0;}
header .innerHeader .menu a:hover .line_2{width: 70%; transition: all 0.4s; margin-top: 5px;}
.section.scrollDown p{color: #fff; position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%);}

/* menuWrap의 기본레이어 */
.menuOpen .menuWrap{width: 100%; height: 100vh; position: fixed; top: 0; right: 0; background-image: url(../img/index_smoke_1.png); /* scale: 0.95; */ visibility: hidden; background-color: #111;  overflow: hidden; background-position: center; background-repeat: no-repeat; background-size: cover;}

header .innerHeader .menuOpen .menuWrap .menu2 {opacity: 1; pointer-events: none; display: flex; justify-content: flex-start; flex-wrap: wrap; margin-left: 5%; width: 90%; margin-top: 7%; margin-bottom: 3%;}
header .innerHeader .menuOpen .menuWrap .menu2 .menu__item {/* display: flex; flex-direction: column; */ align-items: center; position: relative; width: 45%;}
header .innerHeader .menuOpen .menuWrap .menu2 .menu__item-image_wrapper {position: absolute;width: 280px;height: 400px;pointer-events: none;opacity: 0;}
.menu__item-image_inner {position: relative;width: 100%;height: 100%;overflow: hidden;}
.menu__item-image_inner .menu__item-image {position: absolute; left: 0; top: 0; height: 100%; width: 100%; object-fit: cover;}
.menu__item-text {position: relative;display: block; color: #fff;font-family: "Krona One";font-size: 200px; font-weight: 900; padding: 1vh 0; opacity: 1; transition: opacity 350ms ease;mix-blend-mode: normal; white-space: nowrap; overflow: hidden;cursor: pointer;}
header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(1) .menu__item-text::after{content: '01'; position: absolute; top: 0; right: 10%; font-size: 24px; font-weight: 300;}
header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(2) .menu__item-text::after{content: '02'; position: absolute; top: 0; right: 10%; font-size: 24px; font-weight: 300;}
header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(3) .menu__item-text::after{content: '03'; position: absolute; top: 0; right: 10%; font-size: 24px; font-weight: 300;}
header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(4) .menu__item-text::after{content: '04'; position: absolute; top: 0; right: 10%; font-size: 24px; font-weight: 300;}
.menu__item-innertext {display: inline-block;transition: letter-spacing 250ms cubic-bezier(0.165, 0.84, 0.44, 1);}
/* hover */
.menu__item-text:hover .menu__item-innertext {letter-spacing: 0.425rem;}
.menu:hover .menu__item-text {opacity: 0.25;}
.menu:hover .menu__item-text:hover {opacity: 0.85;}
.menu__item:hover .menu__item-text {z-index: 10;mix-blend-mode: difference;}
.menu__item:hover .menu__item-image_wrapper {z-index: 2;}

.menuOpen .menuWrap.on .contact_2{width: 90%; display: flex; justify-content: flex-start; margin-left: 5%;}
.menuOpen .menuWrap .contact_2 li{width: 24%; position: relative;}
.menuOpen .menuWrap .contact_2 li a{width: 100%; height: 100%; display: block;}
.menuOpen .menuWrap .contact_2 li a .txt{color: #fff; font-size: 20px;}
.menuOpen .menuWrap .contact_2 li a .txt span{margin-left: 4%;}
.menuOpen .menuWrap .contact_2 li a .circle_1{position: absolute; left: 60%; bottom: -30px; transition: 0.4s; scale: 0.6;}
.menuOpen .menuWrap .contact_2 li a .circle_2{position: absolute; left: 60%; bottom: -30px; transition: 0.4s; scale: 0.6;}
.menuOpen .menuWrap .contact_2 li a .arrow{position: absolute; left: 65%; bottom: 15px; transition: 0.4s; scale: 0.5;}
.menuOpen .menuWrap .contact_2 li:nth-child(3) .circle_1{left: 71%;}
.menuOpen .menuWrap .contact_2 li:nth-child(3) .circle_2{left: 71%;}
.menuOpen .menuWrap .contact_2 li:nth-child(3) .arrow{left: 76%;}
.menuOpen .menuWrap .close.en{position: absolute; left: 86%; top: 9%; font-size: 50px; border-bottom: 1px solid #fff; color: #fff; height: 6%; opacity: 0.3; transition: all 0.4s;}
/* hover */
.menuOpen .menuWrap .contact_2 li a:hover .circle_1
{transform: translate(-5%, 5%); transition: 0.4s;}
.menuOpen .menuWrap .contact_2 li a:hover .circle_2
{transform: translate(5%, -5%); transition: 0.4s;}
.menuOpen .menuWrap .contact_2 li a:hover .arrow
{transform: translate(20%, -5%); transition: 0.4s;}
/* hover */
.menuOpen .menuWrap .tit li a span{font-size: 24px; position: absolute; top: 0; right: 0; transform: translate(-500%,-10%);}
.menuOpen .menuWrap .tit li:last-child a span{transform: translate(50%,-10%);}
.menuOpen .menuWrap .tit li:hover{opacity: 1; transition: all 0.4s;}
.menuOpen .menuWrap .close.en:hover{transition: all 0.4s; opacity: 1;}

/* menuWrap의 평소상태와 menuOpen버튼을 클릭했을 때 상태 */
.menuOpen .menuWrap{width: 100%; transition: all 0.6s; overflow: hidden; opacity: 0; z-index: -100;}
.menuOpen .menuWrap.on{width: 100%; right: 0%; transition: all 0.6s; opacity: 1; z-index: 1000; scale: 1; visibility: visible;}
.menuOpen .menuWrap .contact_2{display: none;}

/* 공통요소 */
h2.common{font-size: 22px; font-weight: 100; display: inline-block; position: relative; margin-bottom: 80px;}
h2.common::after{content: ''; width: 150px; height: 1px; background-color: #e0cfc0; position: absolute; right: -200px; top: 50%; transform: translateY(-50%);}

/* visual */
.visual{width: 100%; height: 100vh; overflow: hidden;}
.visual .inner{width: 100%; overflow: hidden;}
.visual .inner p.img{width: 100%; position: absolute; opacity: 0;}
.visual .inner p.img img{object-position: center; object-fit: cover; width: 100%; }
.visual .inner .text{color: #fff; width: 55%; margin-left: 105px; margin-top: 26%; opacity: 0;}
.visual .inner .text p{font-size: 27px; font-weight: 100; display: inline-block; margin-bottom: 80px;}
.visual .inner .text p span{display: inline-block; width: 190px; height: 1px; background-color: #fff; margin-bottom: 8px; margin-left: 80px;}
.visual .inner .text h1{font-size: 125px; font-weight: 100; line-height: 0.9; opacity: 1;}

/* object */
.object{width: 100%; overflow: hidden; margin-bottom: 300px; padding-bottom: 200px; margin-top: 300px;}
.object .inner{width: 77%; margin-left: 290px;}
.object .inner h2{color: #e0cfc0; margin-bottom: 200px;}
.object .inner .box_1{width: 100%; margin-left: 60px; color: #e0cfc0; margin-bottom: 180px; font-weight: 100; opacity: 0; transition: all 0.4s;}
.object .inner .box_1 .leftBox{font-size: 50px; width: 30%; display: inline-block;}
.object .inner .box_1 .leftBox .txt_1{font-size: 50px; margin-bottom: 20px;}
.object .inner .box_1 .leftBox .txt_2{font-size: 16px;}
.object .inner .box_1 .rightBox{width: 50%; display: inline-block; margin-left: 5%;}
.object .inner .box_1 .rightBox .btn{position: relative; scale: 1.4;}
.object .inner .box_1 .rightBox .btn .circle_1{position: absolute; left: 20%; bottom: 20px; transition: 0.4s;}
.object .inner .box_1 .rightBox .btn .circle_2{position: absolute; left: 20%; bottom: 20px; transition: 0.4s;}
.object .inner .box_1 .rightBox .btn .arrow{position: absolute; left: 24%; bottom: 80px; transition: 0.4s;}
.object .inner .box_2{width: 100%; margin-right: 60px; color: #e0cfc0; margin-bottom: 80px; font-weight: 100; opacity: 0; transition: all 0.4s;}
.object .inner .box_2 .rightBox{font-size: 50px; width: 30%; display: inline-block;}
.object .inner .box_2 .rightBox .txt_1{font-size: 50px; margin-bottom: 20px;}
.object .inner .box_2 .rightBox .txt_2{font-size: 16px;}
.object .inner .box_2 .leftBox{width: 60%; display: inline-block; position: relative;}
.object .inner .box_2 .leftBox p.img_circle img{width: 100%; scale: 0.8;}
.object .inner .box_2 .leftBox p.img_circle{position: absolute; top: -150px; right: 20%;}
.object .inner .box_2 .leftBox p.img_circle{animation: rotate_img 7s linear infinite;}
/* circle animation */
@keyframes rotate_img {
    0% {transform: rotate(360deg);}
}
/* hover */
.object .inner a:hover .btn .circle_1
{transform: translate(-5%, 5%); transition: 0.4s;}
.object .inner a:hover .btn .circle_2
{transform: translate(5%, -5%); transition: 0.4s;}
.object .inner a:hover .btn .arrow
{transform: translate(20%, -5%); transition: 0.4s;}
/* scrollTrigger ani */
.object .inner .box_1.fuckingactive{opacity: 1; transition: all 0.4s;}
.object .inner .box_2.fuckingactive{opacity: 1; transition: all 0.4s;}

/* font */
.font{width: 100%; overflow: hidden; margin-bottom: 300px; opacity: 0; transition: all 0.4s;}
.font .inner{width: 77%; margin-left: 290px;}
.font .inner .leftBox{width: 45%; display: inline-block; color: #fff; font-weight: 100;}
.font .inner .leftBox .txt_1{font-size: 22px; position: relative; width: 20%; margin-bottom: 50px;}
.font .inner .leftBox .txt_1::after{content: ''; position: absolute; width: 80px; height: 1px; background-color: #fff; top: 50%; right: -30px;}
.font .inner .leftBox .txt_2{font-size: 16px; margin-bottom: 50px;}
.font .inner .leftBox ul{width: 70%; display: flex; justify-content: space-between; margin-bottom: 5px;}
.font .inner .leftBox ul:last-child{justify-content: flex-start;}
.font .inner .leftBox ul li{font-size: 24px; width: 12.5%;}
.font .inner .leftBox ul li span{text-transform: uppercase; margin-right: 5px;}
.font .inner .rightBox{width: 45%; display: inline-block; color: #fff; font-weight: 100; float: right; margin-right: 10%;}
.font .inner .rightBox .txt_1{font-size: 20px; position: relative; width: 20%; margin-bottom: 50px;}
.font .inner .rightBox .txt_1::after{content: ''; position: absolute; width: 80px; height: 1px; background-color: #fff; top: 50%; right: -30px;}
.font .inner .rightBox .txt_2{font-size: 16px; margin-bottom: 46px;}
.font .inner .rightBox ul{width: 70%; display: flex; justify-content: flex-start;}
.font .inner .rightBox ul li{font-size: 24px; margin-right: 5%;}
/* scrollTrigger ani */
.font.fuckingactive{opacity: 1; transition: all 0.4s;}

/* color */
.color{width: 100%; overflow: hidden; margin-bottom: 300px;}
.color .inner{width: 1300px; margin-left: 290px; overflow: hidden; position: relative; padding-bottom: 100px;}
.color .inner h2{color: #fff;}
.color .inner h2:after{background-color: #fff;}
.color .inner ul{width: 100%; display: flex; justify-content: space-between; margin-bottom: 1%;}
.color .inner ul a{width: 100%; height: 100%; display: block;}
.color .inner ul li{width: 85px; height: 85px; background-color: #fff; border-radius: 50%; border: 0.5px solid #eee; position: relative; display: inline-block;}
.color .inner ul li span{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 35px; font-weight: 100; z-index: -1; color: #fff; transition: all 0.2s; opacity: 0;}
.color .inner .line_12 .color_2 li .txt{color: #111;}
/* line_1 */
.color .inner .line_1{opacity: 0; transition: all 0.4s;}
.color .inner .line_1 .color_1 li{background-color: #000;}
.color .inner .line_1 .color_2 li{background-color: #78152d;}
/* line_2 */
.color .inner .line_2{opacity: 0; transition: all 0.4s;}
.color .inner .line_2 .color_1 li{background-color: #111;}
.color .inner .line_2 .color_2 li{background-color: #870000;}
/* line_3 */
.color .inner .line_3{opacity: 0; transition: all 0.4s;}
.color .inner .line_3 .color_1 li{background-color: #26221d;}
.color .inner .line_3 .color_2 li{background-color: #870980;}
/* line_4 */
.color .inner .line_4{opacity: 0; transition: all 0.4s;}
.color .inner .line_4 .color_1 li{background-color: #1d1820;}
.color .inner .line_4 .color_2 li{background-color: #33251f;}
/* line_5 */
.color .inner .line_5{opacity: 0; transition: all 0.4s;}
.color .inner .line_5 .color_1 li{background-color: #1f2a2d;}
.color .inner .line_5 .color_2 li{background-color: #a49000;}
/* line_6 */
.color .inner .line_6{opacity: 0; transition: all 0.4s;}
.color .inner .line_6 .color_1 li{background-color: #111a27;}
.color .inner .line_6 .color_2 li{background-color: #e0cfc0;}
/* line_7 */
.color .inner .line_7{opacity: 0; transition: all 0.4s;}
.color .inner .line_7 .color_1 li{background-color: #001e36;}
.color .inner .line_7 .color_2 li{background-color: #ffdda8;}
/* line_8 */
.color .inner .line_8{opacity: 0; transition: all 0.4s;}
.color .inner .line_8 .color_1 li{background-color: #156384;}
.color .inner .line_8 .color_2 li{background-color: #222400;}
/* line_9 */
.color .inner .line_9{opacity: 0; transition: all 0.4s;}
.color .inner .line_9 .color_1 li{background-color: #330000;}
.color .inner .line_9 .color_2 li{background-color: #292f24;}
/* line_10 */
.color .inner .line_10{opacity: 0; transition: all 0.4s;}
.color .inner .line_10 .color_1 li{background-color: #370d00;}
.color .inner .line_10 .color_2 li{background-color: #26301e;}
/* line_11 */ 
.color .inner .line_11{opacity: 0; transition: all 0.4s;}
.color .inner .line_11 .color_1 li{background-color: #49021f;}
.color .inner .line_11 .color_2 li{background-color: #396416;}
/* line_12 */ 
.color .inner .line_12{opacity: 0; transition: all 0.4s;}
.color .inner .line_12 .color_1 li{background-color: #470137;}
.color .inner .line_12 .color_2 li{background-color: #fff;}
.color .inner .thank{position: absolute; bottom: 0; right: 0; color: #fff; font-size: 30px;}
/* hover */
.color .inner ul .color_1:hover li span{z-index: 10; opacity: 1; transition: all 0.2s;}
.color .inner ul .color_2:hover li span{z-index: 10; opacity: 1; transition: all 0.2s;}
/* scrollTrigger ani */
.color .inner .line_1.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_2.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_3.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_4.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_5.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_6.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_7.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_8.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_9.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_10.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_11.fuckingactive{opacity: 1; transition: all 0.4s;}
.color .inner .line_12.fuckingactive{opacity: 1; transition: all 0.4s;}

/* contact */
.contact{width: 100%; height: 100vh; overflow: hidden; background: url(../img/index_smoke_1.png)no-repeat; background-size: cover; background-position: center;}
.contact .inner{width: 1470px; margin-left: 290px; color: #B1A191; margin-top: 10%;}

.contact .inner .let{font-size: 200px;width: 55%; margin-bottom: 10%; height: 100%; position: relative;}
.contact .inner .let::after{content: ''; position: absolute; left: 0; bottom: 0; width: 0%; height: 3px; background-color: #b1a191; transition: all 0.4s;}
.contact .inner .let:hover::after{width: 100%; transition: all 0.4s;}


.contact .inner .tit{font-size: 30px; display: inline-block; padding: 2% 0; margin-right: 5%;}
.contact .inner .tel{margin-right: 6.5%;}
.contact .inner .txt{font-size: 30px; display: inline-block;}
.contact .inner .btn{position: relative; scale: 0.6;}
.contact .inner .btn .circle_1{position: absolute; left: 25%; bottom: 20px; transition: 0.4s;}
.contact .inner .btn .circle_2{position: absolute; left: 25%; bottom: 20px; transition: 0.4s;}
.contact .inner .btn .arrow{position: absolute; left: 27%; bottom: 80px; transition: 0.4s;}

.contact .inner a:hover .btn .circle_1
{transform: translate(-5%, 5%); transition: 0.4s;}
.contact .inner a:hover .btn .circle_2
{transform: translate(5%, -5%); transition: 0.4s;}
.contact .inner a:hover .btn .arrow
{transform: translate(20%, -5%); transition: 0.4s;}

/* media */
@media screen and (max-width:1680px) {
    .menu__item-text{font-size: 180px;}
    .menuOpen .menuWrap .contact_2 li a .btn{scale: 0.7; transform: translateX(20%);}
    .menuOpen .menuWrap .contact_2 li:nth-child(3) a .btn{transform: translateX(30%);}

    .visual{width: 100%; height: 100vh; overflow: hidden;}
    .visual .inner .text{margin-top: 30%;}
    .visual .inner .text h1 {font-size: 100px;}
    .visual .inner p.img img{scale: 1; width: 100%; height: 100vh; object-position: 50%, 100%; object-fit: cover;}

    .object .inner{margin-left: 200px;}
    .object .inner .box_1 .leftBox{width: 40%;}
    .object .inner .box_2 .rightBox{width: 35%;}
    
    .font .inner{margin-left: 200px;}
    .font .inner .leftBox .txt_1::after{right: -60px;}
    .font .inner .rightBox .txt_1::after{right: -60px;}

    .color{margin-bottom: 150px;}
    .color .inner{margin-left: 200px; width: 1440px;}
    .color .inner ul{width: 75%;}
    .color .inner ul li{width: 70px; height: 70px;}
    .color .inner .thank{right: 20%;}
    
    .contact .inner{margin-left: 100px;}
    .contact .inner .let{margin-bottom: 0%; margin-top: 20%;}
    .contact .inner .btn{scale: 0.5;}
    .contact .inner .tit{margin-right: 2%; font-size: 25px;}
    .contact .inner .btn .circle_1{left: 12%;}
    .contact .inner .btn .circle_2{left: 12%;}
    .contact .inner .btn .arrow{left: 14%;}
}

/* media */
@media screen and (max-width:1440px) {

    header{margin-top: 50px;}
    header .innerHeader{margin-right: 0;}
    header .innerHeader .menu{width: 8%;}
    header .innerHeader .home{margin-right: -8px;}
    header .innerHeader .home a p{font-size: 20px; margin-right: 15px; margin-top: 14px;}
    .menu__item-text{font-size: 140px;}
    header .innerHeader .menuOpen .menuWrap .menu2{margin-top: 10%; margin-bottom: 5%;}
    header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(1) .menu__item-text::after{font-size: 18px;}
    header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(2) .menu__item-text::after{font-size: 18px;}
    header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(3) .menu__item-text::after{font-size: 18px;}
    header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(4) .menu__item-text::after{font-size: 18px;}
    .menuOpen .menuWrap .contact_2 li{width: 32%;}
    .menuOpen .menuWrap .contact_2 li a .txt{font-size: 16px;}
    .menuOpen .menuWrap .contact_2 li a .btn{transform: translateX(16%);}

    .visual{width: 100%;}
    .visual .inner p.img img{scale: 1;width: 100%;height: 100vh;object-position: right;object-fit:cover;}
    .visual .inner .text{margin-top: 35%; margin-left: 50px;}
    .visual .inner .text h1 {font-size: 80px;}
    .visual .inner .text p{font-size: 20px; margin-bottom: 50px;}

    .object{margin-bottom: 100px;}
    .object .inner{margin: 0 auto; width: 1000px; margin-left: 50px;}
    .object .inner .box_1 .leftBox{width: 43%;}
    .object .inner .box_1 .rightBox{width: 0;}
    .object .inner .box_1 .rightBox .btn .circle_1{left: 50%;}
    .object .inner .box_1 .rightBox .btn .circle_2{left: 50%;}
    .object .inner .box_1 .rightBox .btn .aroow{left: 70%;}
    .object .inner .box_2 .leftBox{width: 50%;}
    .object .inner .box_2 .rightBox{width: 43%;}

    .font .inner{width: 1000px; margin: 0 auto; margin-left: 50px;}
    .font .inner .leftBox{width: 50%;}
    .font .inner .leftBox ul{width: 80%;}
    .font .inner .rightBox{width: 50%; margin-right: 0;}
    .font .inner .rightBox ul{width: 80%;}
    .font .inner .leftBox .txt_1::after{right: -95px;}
    .font .inner .rightBox .txt_1::after{right: -95px;}

    .color .inner{width: 1000px; margin: 0 auto; margin-left: 50px;}
    .color .inner ul{width: 95%;}
    .color .inner ul li{width: 60px; height: 60px;}


    /* 공통요소 */
    h2.common{font-size: 20px;}

    .contact{width: 100%; height: 100vh; overflow: hidden; background: url(../img/index_smoke_1.png)no-repeat; background-size: cover; background-position: right;}
    .contact .inner{margin-left: 50px;}
    .contact .inner .let{margin-bottom: 2%; margin-top: 15%;}
    .contact .inner .btn{scale: 0.5;}
    .contact .inner .tit{margin-right: 2%; font-size: 25px;}
    .contact .inner .btn .circle_1{left: 12%;}
    .contact .inner .btn .circle_2{left: 12%;}
    .contact .inner .btn .arrow{left: 14%;}
}

/* media */
@media screen and (max-width:1024px) {
    
    header{margin-top: 20px;}
    header .innerHeader{margin-right: 0;}
    header .innerHeader .menu{width: 6%;}
    header .innerHeader .home{margin-right: -20px;}
    header .innerHeader .home a p{font-size: 18px; margin-right: 5px; margin-top: 15px;}
    .menu__item-text{font-size: 100px;}
    header .innerHeader .menuOpen .menuWrap .menu2{margin-top: 20%; margin-bottom: 10%;}
    header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(1) .menu__item-text::after{right: 18%; font-size: 16px;}
    header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(2) .menu__item-text::after{right: 18%; font-size: 16px;}
    header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(3) .menu__item-text::after{right: 18%; font-size: 16px;}
    header .innerHeader .menuOpen .menuWrap .menu2 .menu__item:nth-child(4) .menu__item-text::after{right: 18%; font-size: 16px;}
    .menuOpen .menuWrap .close.en{top: 1%;}
    .menuOpen .menuWrap .contact_2 li{width: 32%;}
    .menuOpen .menuWrap .contact_2 li a .txt{font-size: 16px;}
    .menuOpen .menuWrap .contact_2 li a .btn{transform: translateX(16%);}
    
    .visual .inner .text{margin-top: 50%;}
    .visual .inner p.img img{scale: 1;width: 100%; height: 100vh; object-position: right;object-fit:cover;}

    .object .inner h2{margin-bottom: 100px;}
    .object .inner .box_1{margin-left: 0;}
    .object .inner .box_2{margin-right: 0;}
    .object .inner .box_2 .leftBox{width: 30%;}

    .font .inner{width: 700px;}
    .font .inner .leftBox{width: 100%; margin-bottom: 100px;}
    .font .inner .rightBox{width: 100%;}

    .color .inner{width: 700px;}
    .color .inner ul li{width: 40px; height: 40px;}
    .color .inner ul li span{font-size: 24px;}

    .contact .inner .let{font-size: 140px;}
    .contact .inner .let:hover::after{width: 67%;}
}

/* media */
@media screen and (max-width:770px) {

    .mo{display: none;}
    .scrollDown{font-size: 24px;}

    header{margin-top: 20px;}
    header .innerHeader{margin-right: 0;}
    header .innerHeader .menu{width: 4%;}
    header .innerHeader .menu a .line_1,header .innerHeader .menu a .line_2{width: 30px;}
    header .innerHeader .home{margin-right: -20px;}
    header .innerHeader .home a p{font-size: 18px; margin-right: 5px; margin-top: 15px;}
    .menuOpen .menuWrap{background-position: right;}
    .menuOpen .menuWrap .close.en {position: absolute; left: 81%; top: 9%; font-size: 35px; border-bottom: 1px solid #fff; color: #fff; height: 4%; top: 1%}
    .menu__item-text{padding: 0; font-size: 70px;}
    header .innerHeader .menuOpen .menuWrap .menu2{flex-direction: column;}
    header .innerHeader .menuOpen .menuWrap .menu2 .menu__item{width: 70%;}
    .menuOpen .menuWrap.on .contact_2{flex-direction: column; width: 100%;}
    .menuOpen .menuWrap.on .contact_2 li{width: 100%; margin: 3% 0;}
    .menuOpen .menuWrap .contact_2 li a .txt{font-size: 20px;}
    .menuOpen .menuWrap .contact_2 li a .btn{transform: translateX(-0%);}
    .menuOpen .menuWrap .contact_2 li:nth-child(3) a .btn{transform: translateX(-0%);}

    .visual .inner p.img img{scale: 1; width: 100%; height: 100vh; object-position: right; object-fit:cover;}
    .visual .inner .text{margin-top: 500px; margin-left: 20px;}
    .visual .inner .text h1 {font-size: 40px; line-height: 120%;}
    .visual .inner .text p{font-size: 14px; margin-bottom: 50px; position: relative;}
    .visual .inner .text p span{width: 80px; position: absolute; top: 50%; left: 50%; transform: translate(-20%,-50%);}
    
    .object{margin-top: 100px;}
    .object .inner{width: 90%; margin-left: 20px;}
    .object .inner h2{font-size: 16px;}
    .object .inner h2::after{content: ''; width: 65px; height: 1px; background-color: #e0cfc0; position: absolute; right: -100px; top: 50%; transform: translateY(-50%);}
    .object .inner .box_1 .leftBox{width: 100%;}
    .object .inner .box_1 .leftBox .txt_1{font-size: 32px;}
    .object .inner .box_1 .leftBox .txt_2{font-size: 14px;}
    .object .inner .box_1 .rightBox{margin-left: 36%;}
    .object .inner .box_1 .rightBox .btn{scale: 1;}
    .object .inner .box_1 .rightBox .btn .circle_1{bottom: -120px;}
    .object .inner .box_1 .rightBox .btn .circle_2{bottom: -120px;}
    .object .inner .box_1 .rightBox .btn .arrow{bottom: -70px;}
    .object .inner .box_2 .leftBox{width: 100%;}
    .object .inner .box_2 .leftBox p.img_circle{top: 85px; right: 10%;}
    .object .inner .box_2 .leftBox p.img_circle img{scale: 0.6;}
    .object .inner .box_2 .rightBox{width: 100%;}
    .object .inner .box_2 .rightBox .txt_1{font-size: 32px;}
    .object .inner .box_2 .rightBox .txt_2{font-size: 14px;}
    
    .font.fuckingactive{margin-bottom: 100px;}
    .font .inner{width: 90%; margin-left: 20px;}
    .font .inner .leftBox{margin-bottom: 50px;}
    .font .inner .leftBox .txt_1{width: 25%; font-size: 16px; margin-bottom: 30px;}
    .font .inner .leftBox .txt_2{margin-bottom: 20px;}
    .font .inner .leftBox .txt_1::after{width: 50px; right: -60px;}
    .font .inner .leftBox ul{width: 100%;}
    .font .inner .leftBox ul li{font-size: 18px;}
    .font .inner .leftBox .txt_2{font-size: 14px;}
    .font .inner .rightBox .txt_1{width: 25%; font-size: 16px; margin-bottom: 30px;}
    .font .inner .rightBox .txt_2{font-size: 14px; margin-bottom: 20px;}
    .font .inner .rightBox .txt_1::after{width: 50px; right: -60px;}
    .font .inner .rightBox ul li{font-size: 18px;}

    .color .inner{width: 90%; margin: 0 auto;}
    .color .inner h2{font-size: 16px;}
    .color .inner h2::after{content: ''; width: 65px; height: 1px; background-color: #e0cfc0; position: absolute; right: -100px; top: 50%; transform: translateY(-50%);}
    .color .inner ul{flex-direction: column; width: 100%;}
    .color .inner ul li{width: 36px; height: 36px;}


    .introduction{width: 100%; padding: 0;}
    .introduction .inner{width: 100%; margin-left: 20px;}
    .introduction .inner h2{font-size: 16px; margin-bottom: 40px; margin-top: 150px;}
    .introduction .inner h2.common.en::after{content: ''; width: 65px; height: 1px; background-color: #e0cfc0; position: absolute; right: -100px; top: 50%; transform: translateY(-50%);}
    .introduction .inner .txtBox{margin-bottom: 35px;}
    .introduction .inner .txtBox p{font-size: 32px; padding-right: 7%;}
    .introduction .inner .txtBox_2 > p{font-size: 12px; padding-right: 7%;}

    
    .contact{width: 100%; height: 100vh; overflow: hidden; background: url(../img/index_smoke_1.png)no-repeat; background-size: cover; background-position: right;}
    .contact .inner{margin-left: 20px;}
    .contact .inner .let{margin-bottom: 2%; margin-top: 20%; font-size: 80px;}
    .contact .inner .let::after{height: 2px;}
    .contact .inner .let:hover::after{width: 38%;}
    .contact .inner .btn{scale: 0.35;}
    .contact .inner .btn .circle_1{position: absolute; left: -40%; bottom: 50px;}
    .contact .inner .btn .circle_2{position: absolute; left: -40%; bottom: 50px;}
    .contact .inner .btn .arrow{position: absolute; left: -38%; bottom: 105px;}
    .contact .inner .tit{font-size: 16px;}
    .contact .inner .txt{font-size: 18px;}
}